mixin s-how()
	// start s-how
	+b.SECTION.s-how.section#s-how&attributes(attributes)
		.container
				
			.row
				.col-lg-5
					+b.section-title(class="wow fadeInUp" data-wow-duration="0.8s")
						h2 Как стать участником мероприятия? 
					.h5 Что бы стать участников II-ого Молодежного Форума – обратись в РКЦ (региональный координационный центр) своего региона
					+e.btn(href="#" class="wow fadeInUp" data-wow-duration="0.8s") Список РКЦ
				+e.col.col
					+e.link-wrap(class="wow fadeInUp" data-wow-duration="0.8s")
						+e.link.h3(href="#") #молодыепрофессионалы     
						br
						+e.link.h3(href="#")  #worldskillsRussia
					+e.img-wrap(class="wow fadeInUp" data-wow-duration="0.8s")
						img.lazy.res-i(src="#" data-src="img/how-img.svg", alt="")
	// end s-how