mixin s-school()
	// start s-school
	+b.SECTION.s-school#s-school&attributes(attributes)
		.container.section
			+b.section-title(class="wow fadeInUp" data-wow-duration="0.8s")
				h2 Образовательные школы 
			.row.row--sm
				mixin item(i, p, href)
					+e.item(class="wow fadeInUp" data-wow-duration="0.8s")&attributes(attributes)
						block
						+e.text= p
						+e.btn.popup-with-move-anim(href= href) Подробнее
						+e.img.lazy(src="#" data-src=`img/school-${i}.svg`)
					// /+e.item
				+e.col.col-xl-6.col-lg-8
					+item('1','Цель школы - формирование среди участников основ предпринимательской инициативы и базовых моделей ведения малого бизнеса. ','#modal-win--blue')(class='s-school__item--horizontal')
						+e.title Школа
							br
							| предпринимательства
					+item('2','Цель школы – практическое применение знаний для развития сферы гостеприимства и туризма, в том числе для Новгородской области. ','#modal-win')(class='s-school__item--horizontal')
						+e.title Школа индустрии гостеприимства
				// /+e.col.col-xl-6.col-lg-8
				+e.col.col-xl-3.col-lg-4.col-md-6
					+item('3','Цель школы - содействие в определении профессиональной траектории развития участников и понимания своей персональной и коллективной роли в глобальном развитии трудового потенциала страны','#modal-win')
						+e.title Школа  трудоустройства  и&nbsp;профессии
				// /+e.col.col-xl-3.col-lg-4.col-md-6
				+e.col.col-xl-3.col-lg-4.col-md-6
					+item('4' ,'Цель школы – научить участников работать в современном информационном пространстве, обучить базовым навыкам успешного журналиста','#modal-win')
						+e.title Школа 
							br
							| медиа  и&nbsp;блоггерства
				// /+e.col.col-xl-3.col-lg-4.col-md-6
				
				+e.col.col-xl-3.col-lg-4.col-md-6
					+item('5','Цель школы – познакомить участников с современными IT технологиями и обучить их внедрению цифровых технологий в экономические и технологические процессы','#modal-win')
						+e.title Школа  цифровой  экономики
				// /+e.col.col-xl-3.col-lg-4.col-md-6
				+e.col.col-xl-3.col-lg-4.col-md-6
					+item('6','Цель школы – популяризация и закрепление научно-технологических знаний и навыков среди подрастающего поколения, на основе потенциала ведущих высокотехнологических предприятий России','#modal-win')
						+e.title Школа  управленцев 
				// /+e.col.col-xl-3.col-lg-4.col-md-6
				+e.col.col-xl-6.col-lg-8
					+item('7','Цель школы – научиться современным технологиям построения малого бизнеса на своих навыках в индустрии красоты и освоить основы личного брендинга и стиля')(class='s-school__item--horizontal','#modal-win')
						+e.title Школа индустрии красоты и&nbsp;здоровья
					+item('8','Цель школы – популяризация и закрепление научно- технологических знаний и навыков среди подрастающего поколения, на основе потенциала ведущих высокотехнологических предприятий России','#modal-win')(class='s-school__item--horizontal')
						+e.title Школа научно-технологических решений
				// /+e.col.col-xl-6.col-lg-8
				+e.col.col-lg-4.col-md-6
					+item('9','Цель школы – популяризация и закрепление научно-технологических знаний и навыков среди подрастающего поколения, на основе потенциала ведущих высокотехнологических предприятий России','#modal-win')
						+e.title Школа 
							br
							| "Умный город".
				// /+e.col.col-lg-4.col-md-6
				
				+e.col.col-xl-4.col-md-6
					+item('10','Цель школы – научить участников управлять масштабными задачами в условиях временных и ресурсных ограничений для достижения заявленных результатов и поставленных целей','#modal-win')
						+e.title Школа проектного управления
				// /+e.col.col-xl-4.col-md-6
				
				+e.col.col-xl-4.col-lg-6
					+item('11','Цель школы – популяризация и закрепление научно-технологических знаний и навыков среди подрастающего поколения, на основе потенциала ведущих высокотехнологических предприятий России','#modal-win')
						+e.title Школа наставничества и&nbsp;лидерства
				// /+e.col.col-xl-4.col-lg-6
				
	// end s-school