mixin s-form()
	// start s-form
	+b.s-form.section#s-form(class="wow fadeInUp" data-wow-duration="0.8s")&attributes(attributes)
		.container
			.row
				.col
					+b.section-title
						h2 Есть вопросы?
						+e.text Задайте их нашим специалистам
				.col-sm-auto
					+e.btn(href="#") Задать вопрос
	// end s-form