mixin s-logo()
	// start s-logo
	+b.s-logo.section#s-logo&attributes(attributes)
		.container 
			.row
				- for (var x = 1; x < 5; x++)
					+e.logo.col-lg-3.col-6
						img.lazy.res-i(src="#" data-src=`img/logo-${x}.png`, alt="")
					// /.col-lg-3.col-6
	// end s-logo