mixin s-logo()
	// start s-logo
	+b.s-logo.section#s-logo&attributes(attributes)
		.container 
			.row(class="wow fadeInUp" data-wow-duration="0.8s")
				+e.logo.col-lg-3.col-6
					img.lazy.res-i(src="#" data-src=`img/logo-4.png`, alt="")
				// /.col-lg-3.col-6
				
				+e.logo.col-lg-3.col-6
					img.lazy.res-i(src="#" data-src=`img/logo-5.png`, alt="")
				// /.col-lg-3.col-6
				
	// end s-logo