mixin s-get-to()
	// start s-get-to
	+b.SECTION.s-get-to.section#s-get-to&attributes(attributes)
		.container
			.row.align-items-center
			
				.col
					+b.section-title
						h2 Как добраться 
							br
							span до
							|&nbsp;Великого Новгорода?
					.d-none.d-lg-block
						+e.btn(href="#") Скачать варианты проезда в pdf
				.col-xl-9.col-lg-8.order-lg-first
					+e.img-wrap
						img.res-i.lazy(src="#" data-src="img/map.png", alt="")
			+e.title  Варианты проезда до Великого Новгорода

			mixin item(i,t,p)
					+e.item.row
						+e.icon-wrap.col-auto
							+icon(i)
						+e.text.col
							+e.item-title= t
							+e.item-text= p
			.row
				+e.col.col-lg-6
					+e.col-title Санкт-Петербург - Великий новгород
					+item('car','На автомобиле','196 километров протяженность маршрута по трасее ~ 2.5-3 часа')
					+item('bus','На автобусе','С петербургского автовокзала (ст. метро Обводный канал) ~ 3 часа')
					+item('taxi','Маршрутное такси','“НовгородАвто”, “Фабус” ~ 3 часа')
					+item('train','Поезд-экспресс “Ласточка”','Станция Новгород на Волхове (отправление с Московского вокзала) ~ 3 часа')
					+item('train','Пассажирский поезд','с Московского вокзала (ст. метро Площадь Восстания) ~ 4 часа')
				+e.col.col
					+e.col-title Москва - Великий новгород
					+item('car','На автомобиле','560 километров протяженность маршрута по трасее ~ 6 часов')
					+item('train','Пассажирский поезд','поезд № 042Г отходит в 21:55 с Курского вокзала. Отправление ежедневно, прибытие на ж/д станцию в Новгороде Новгород на Волхове в 06:24')
					+item('train','Сапсан','До станции Чудово-московское ~ 3,5 часа')
					+e.foot-text.secondary * от мест прибытия до мест проживания будет организован трансфер, в соответствии с заявками от участников
	// end s-get-to